body{
    font-family: 'Poppins', sans-serif;
}
button{
    background-color: #E02C6D;
    color: white;
    padding: 10px 24px;
    width: 168px;
    height: 44px;
    left: 156px;
    font-size: 18px;
}
.banner{
    background-color: #2D25A0;
}
.heading-and-button{
    padding-top: 207px;
    color: #FFFFFF;
    padding-bottom: 166px;
    margin-right: 102px;
    margin-left: 156px;
    padding-left: 150px;
}
.heading-part{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    background-color: #2D25A0;
    justify-content: center;
    align-items: center;  
    width: 100%;  
}
.heading-part div{
    width: 50%;
}
.banner-img img{
    width: 556.01px;
    height: 438px;
    margin-top: 153px;
    margin-right: 140.99px;
}
.title{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;
}
h1{
    color: #fff;
    width: 485px;
    height: 230px;
    margin-top: 207px;
    font-style: normal;
    font-weight: bold;
    font-size: 64px;
}
.card-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 15px;
    grid-column-gap: 13.5px;
    margin-left: 180px;
    margin-right: 210px;
    margin-top: 70px;
}
.card{
    padding: 15px;
    width: 330px;
    height: 474px;
    background: #FFFFFF;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
}
.card img{
    width: 100%;
}
.card p{
    width: 100%;
    height: 50%;
    justify-content: center;
}
@media (min-width: 1081px){
}
@media (min-width: 1025px) and (max-width: 1080px){
    header{
        width: 100%;
    }
    .heading-part{
        grid-template-columns: repeat(1, 1fr);
        flex-direction: column;
        justify-content: start;
        align-items: start;
    }
    .title h1{
        color: #fff;
        width: 485px;
        height: 230px;
        margin-top: 207px;
        font-style: normal;
        font-weight: bold;
        font-size: 64px;
    }
    .button{
        background-color: #E02C6D;
        color: white;
        padding: 10px 24px;
        width: 168px;
        height: 44px;
        left: 156px;
        font-size: 18px;
    }
    .banner-img img{
        width: 556.01px;
        margin-left: 250px;
    }
    .card-container{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-row-gap: 12px;
        grid-column-gap: 12px;
    }
}
@media (max-width: 480px){
    header{
        width: 100%;
    }
    .heading-part{
        grid-template-columns: repeat(1, 1fr);
        flex-direction: column;
        justify-content: start;
        align-items: start;
    }
    .title h1{
        color: #fff;
        width: 485px;
        height: 230px;
        margin-top: 207px;
        font-style: normal;
        font-weight: bold;
        font-size: 64px;
    }
    .button{
        background-color: #E02C6D;
        color: white;
        padding: 10px 24px;
        width: 168px;
        height: 44px;
        left: 156px;
        font-size: 18px;
    }
    .banner-img img{
        width: 556.01px;
        margin: 120px;
    }
    .card-container{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-row-gap: 10px;
        grid-column-gap: 10px;
    }

}